body {
    margin: 0;
    height: 2000px;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    float: left;
    width: 30%;
}

ul li img.portrait {
    width: 10%;
}

/* full images preload */
.preload {
    background: url('../diamond_optimize.svg') no-repeat -9999px -9999px;
    background: url('../diamond_optimize.svg') no-repeat -9999px -9999px,
                url('../waffle_optimize.svg') no-repeat -9999px -9999px;
}