body {
    margin: 0;
    height: 2000px;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li img {
    float: left;
    width: 30%;
}

ul li img.portrait {
    width: 10%;
}

/* full images preload */
.preload {
    background: url(../img/diamond@2x.jpg) no-repeat -9999px -9999px;
    background: url(../img/bobafett@2x.jpg) no-repeat -9999px -9999px,
                url(../smooth_criminal@2x.jpg) no-repeat -9999px -9999px,
                url(../supergirl_flare@2x.jpg) no-repeat -9999px -9999px,
                url(../waffle@2x.jpg) no-repeat -9999px -9999px,
                url(../joan_of_arc.jpg) no-repeat -9999px -9999px;
}